.template-index {
  #content {
    .product {
      float: none;
      margin: 0 0 20px 0;
      width: 100%;
      padding: 0;
      position: relative;
      @media screen and (min-width: 600px) {
        width: 48%;
        float: left;
        margin: 0 0 2.992em 0;
        &:nth-child(even) {
          float: right;
        }
      }
      @media screen and (min-width: 900px) {
        float: left;
        margin: 0 3.8% 2.992em 0;
        width: 22.05%;
        &:nth-child(even) {
          float: left;
        }
      }
      &.product_cat-luxury-candles {
        @media screen and (min-width: 900px) {
          float: left;
          margin: 0 8% 2.992em 0;
          width: 28%;
          &:nth-child(even) {
            float: left;
          }
        }
      }
      &.last {
        margin-right: 0;
      }
      h3 {
        text-align: center;
      }

      .image-wrapper {
        .overlay {
          text-transform: uppercase;
          text-align: center;
          background-color: rgba(150, 167, 166, .8);
          width: 100%;
          bottom: 0;
          left: 0;
          position: absolute;
          display: none;
          color: white;
          font-size: 16px;
          font-family: FuturaPT-Light;
          font-weight: 300;
          a.surrounding {
            padding: 20px 0;
            color: white;
            display: block;
            &:hover {
              color: white;
            }
          }
        }
      }
      .price-description {
        color: rgba(150, 167, 166, 1);
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;
        font-family: "NeutraTextBookAlt", Georgia;
        letter-spacing: 1px;
        text-align: center;
        border: 1px solid #8f92a3;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
        > .row-1 {
          font-size: 16px;
          .amount {
          }
        }
        > .row-2 {
          font-size: 14px;
        }
      }
      form.cart {
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        div.quantity {
          float: left;
          margin: 0 0 10px 0;
        }
        .button {
          color: #ffffff;
          /*background-color: rgba(109,153,142,1);*/
          background-color: rgba(150, 167, 166, 1);
          transition: background-color 0.3s ease;
          border: none;
          text-shadow: none;
          border-radius: 0px;
          width: auto;
          display: inline-block;
          font-family: FuturaPT-Light;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          float: right;
          margin: 0;
          margin-top: 0;
          padding: 18px 20px;
          @media screen and (min-width: 900px) and (max-width: 1039px){
            padding: 18px 10px;
          }
          &:hover {
            background-color: rgba(150, 167, 166, .7);
          }
        }
      }
    }
  }
}
.page-id-6 #page #masthead > .row-1 > .column-3 .cart, .page-id-6 #page .return-to-shop .button.wc-backward {
  display: none;
}
#mastheadlogin {
  width: 100%;
  >.row-1 {
    width: 100%;
    a {
      img {
        width: 100%;
        margin: 15px auto;
        display: block;
        @media screen and (min-width: 350px) {
          width: 80%;
        }
        @media screen and (min-width: 600px) {
          width: 40%;
          margin: 25px auto;
        }
        @media screen and (min-width: 900px) {
          width: 26%;
        }
      }
    }
  }
}
#colophonlogin {clear: both;
  font-family: FuturaPT-Medium;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  width: 100%;
  margin: 24px auto 0px auto;
  padding: 24px 0;
  overflow: hidden;
  color: #fff;
  background-color: #96A7A6;
  .footer-inside {
    @media screen and (min-width: 600px) {
      width: 90%;
      margin: 0px auto;
      padding: 10px;
    }
    @media screen and (min-width: 1040px) {
      width: 1040px;
      margin: 0px auto;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .social.banner-text {
      font-size: 14pt;
      margin: 20px 0 10px 0;
      text-transform: uppercase;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    #social {
      text-align: center;
      .socialone {
        width: 40px;
      }

      .socialtwo {
        width: 80px;
      }

      .socialthree {
        width: 120px;
      }

      .socialfour {
        width: 160px;
      }

      .socialfive {
        width: 200px;
      }

      .socialsix {
        width: 240px;
      }

      #sociallinks {
        width: auto;
        display: inline-block;
        margin: 0px auto 0px auto;
        @media screen and (min-width: 600px) {
          margin: 0px auto 50px auto;
        }
        ul {
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          z-index: 2;
          position: relative;
          li {
            float: left;
            position: relative;
            margin: 0px 5px;
            list-style: none;
            a {
              text-decoration: none;
              background-image: url(./images/icons.png);
              background-repeat: no-repeat;
              background-size: 240px 120px;
              display: inline-block;
              height: 30px;
              width: 30px;
              text-indent: -9000px;
              position: relative;
              opacity: .8;
              &:hover {
                opacity: 1;
              }
            }
            &.facebook a {
              background-position: -0px -0px;
              transition: opacity 0.3s ease;
              &:hover {
                background-position: -0px -30px;
              }
            }
            &.twitter a {
              background-position: -30px -0px;
              transition: opacity 0.3s ease;
              &:hover {
                background-position: -30px -30px;
              }
            }
            &.pintrest a {
              background-position: -60px -0px;
              transition: opacity 0.3s ease;
              &:hover {
                background-position: -60px -30px;
              }
            }
            &.instagram a {
              background-position: -90px -0px;
              transition: opacity 0.3s ease;
              &:hover {
                background-position: -90px -30px;
              }
            }
            &.houzz a {
              background-position: -120px -0px;
              transition: opacity 0.3s ease;
              &:hover {
                background-position: -120px -30px;
              }
            }
          }
        }
      }
    }
    .copyright, .bellaworks {
      text-align: center;
    }
  }
}
.template-login {
  padding-bottom: 50px;
  .entry-content {
    h2 {
      font-size: 20px;
      &.center {
        text-align: center;
      }
    }
    .messages {
      color: red;
      font-weight: 700;
      text-align: center;
      p {
        color: inherit;
      }
    }
  }
  #loginform, #forgotform {
    display: table;
    margin: 0 auto;
    label {
      display: block;
    }
    input {
      display: block;
    }
  }
}

#colorbox #wholesale-signup {
  background-color: white;
  padding: 10px;
  color: #948c82;
  h2 {
    font-size: 20px;
    color: #96A7A6;
    font-weight: 300;
  }
  @media screen and (min-width: 600px) {
    padding: 40px;
  }
}